<div class="p-grid">
    <div class="p-grid p-col-12 p-align-center vertical-container p-justify-between">
        <div class="p-col-6">
            <h4 style="color: #35a3e4;">Search @ Twitter</h4>
        </div>
        <div class="p-col-2">
            <span style="color: #35a3e4;">Auto refresh in {{counter}} seconds</span>
        </div>
    </div>
    <div class="p-grid p-align-center vertical-container">
        <div class="p-col-12">
            <div class="p-grid p-justify-center">
                <div class="p-lg-4 p-sm-9 p-md-8">
                    <input type="text" pInputText [(ngModel)]="searchText" style="width:100%;" />
                </div>
                <div class="p-lg-2 p-sm-3 p-md-2">
                    <p-button label="Search" (click)="handleSearchClick()"></p-button>
                </div>
            </div>
        </div>
        <div *ngFor="let result of searchReults;" class="p-col-12 p-md-6 p-lg-12 p-sm-12">
            <p-card>
                <div class="p-grid">
                    <div class="p-lg-1 p-md-3 p-sm-3 p-grid p-align-center vertical-container p-justify-center">
                        <img src="{{result.user.profile_image_url_https}}" alt="Profile Pic" />
                    </div>
                    <div class="p-lg-11 p-md-9 p-sm-9">
                        <div class="p-col-12">
                            <span style="padding-right: 15px;color: #2220207a">
                                {{result.user.screen_name}}
                            </span>
                            <span style="padding-right: 15px;color: #2220207a;">
                                @{{result.created_at}}
                            </span>
                        </div>
                        <div class="p-col-12" style="color: #191919; font-weight:450;">
                            {{result.text}}
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>